<div class="w-full h-[calc(100dvh-10.5rem)] md:h-[calc(100dvh-11.65rem)] overflow-y-auto border rounded-lg enclosing-container">
  <app-view-preferences></app-view-preferences>
  <div class="pt-8">
    <p-divider></p-divider>
  </div>
  <app-filter-preferences></app-filter-preferences>
  <div class="pt-8">
    <p-divider></p-divider>
  </div>
  <app-sidebar-sorting-preferences></app-sidebar-sorting-preferences>
  <div class="pt-8">
    <p-divider></p-divider>
  </div>
  <app-meta-center-view-mode-component></app-meta-center-view-mode-component>
  <div class="pt-8">
    <p-divider></p-divider>
  </div>
</div>
