<div class="cbx-preferences-container">
  <div class="setting-item">
    <div class="setting-info">
      <div class="setting-label-row">
        <label class="setting-label">Page Spread</label>
        <div class="button-group">
          @for (spread of cbxSpreads; track spread) {
            <button
              type="button"
              class="option-button"
              [class.selected]="selectedCbxSpread === spread.key"
              (click)="selectedCbxSpread = spread.key">
              <i [class]="spread.icon"></i>
              <span class="option-text">{{ spread.name }}</span>
            </button>
          }
        </div>
      </div>
      <p class="setting-description">
        Configure how comic book pages are displayed - single page or double page spread.
      </p>
    </div>
  </div>

  <div class="setting-item">
    <div class="setting-info">
      <div class="setting-label-row">
        <label class="setting-label">Page Layout</label>
        <div class="button-group">
          @for (mode of cbxViewModes; track mode) {
            <button
              type="button"
              class="option-button"
              [class.selected]="selectedCbxViewMode === mode.key"
              (click)="selectedCbxViewMode = mode.key">
              <i [class]="mode.icon"></i>
              <span class="option-text">{{ mode.name }}</span>
            </button>
          }
        </div>
      </div>
      <p class="setting-description">
        Choose how comic pages are displayed while reading.
      </p>
    </div>
  </div>

  <div class="setting-item">
    <div class="setting-info">
      <div class="setting-label-row">
        <label class="setting-label">Fit Mode</label>
        <div class="button-group">
          @for (mode of cbxFitModes; track mode) {
            <button
              type="button"
              class="option-button"
              [class.selected]="selectedCbxFitMode === mode.key"
              (click)="selectedCbxFitMode = mode.key"
              [pTooltip]="mode.name"
              tooltipPosition="bottom">
              <i [class]="mode.icon"></i>
              <span class="option-text">{{ mode.name }}</span>
            </button>
          }
        </div>
      </div>
      <p class="setting-description">
        Select how images should be scaled to fit the reader window.
      </p>
    </div>
  </div>

  <div class="setting-item">
    <div class="setting-info">
      <div class="setting-label-row">
        <label class="setting-label">Scroll Mode</label>
        <div class="button-group">
          @for (mode of cbxScrollModes; track mode) {
            <button
              type="button"
              class="option-button"
              [class.selected]="selectedCbxScrollMode === mode.key"
              (click)="selectedCbxScrollMode = mode.key">
              <i [class]="mode.icon"></i>
              <span class="option-text">{{ mode.name }}</span>
            </button>
          }
        </div>
      </div>
      <p class="setting-description">
        Choose between paginated or infinite scroll reading experience.
      </p>
    </div>
  </div>

  <div class="setting-item">
    <div class="setting-info">
      <div class="setting-label-row">
        <label class="setting-label">Background Color</label>
        <div class="theme-selector">
          @for (color of cbxBackgroundColors; track color) {
            <button
              type="button"
              class="theme-option"
              [class.selected]="selectedCbxBackgroundColor === color.key"
              [style.background-color]="color.color"
              (click)="selectedCbxBackgroundColor = color.key"
              [attr.aria-label]="color.name"
              [pTooltip]="color.name"
              tooltipPosition="bottom">
              @if (selectedCbxBackgroundColor === color.key) {
                <i class="pi pi-check"></i>
              }
            </button>
          }
        </div>
      </div>
      <p class="setting-description">
        Set the background color for the comic reader.
      </p>
    </div>
  </div>
</div>
