<div class="magic-shelf-container">
  <div class="panel-header">
    <div class="header-icon-wrapper">
      <i class="pi pi-sparkles header-icon"></i>
    </div>
    <div class="header-text">
      <h2 class="panel-title">
        {{ editMode ? 'Edit Magic Shelf' : 'Magic Shelf Builder' }}
      </h2>
      <p class="panel-description">Create smart shelves with custom rules to automatically organize your books</p>
    </div>
    <p-button
      icon="pi pi-times"
      [text]="true"
      [rounded]="true"
      severity="secondary"
      (onClick)="cancel()"
      styleClass="close-button">
    </p-button>
  </div>

  <div class="magic-shelf-content" [formGroup]="form">
    <fieldset [disabled]="form.get('isPublic')?.value && !isAdmin">
      <div class="form-header">
        <div class="form-field">
          <label for="shelfName">Magic Shelf Name</label>
          <input pInputText id="shelfName" type="text" formControlName="name" placeholder="E.g. Rom-Zom-Coms, Fast & Furious, Missing Metadata"/>
        </div>
        <div class="icon-picker-section">
          <div class="icon-picker-wrapper">
            <label>Shelf Icon</label>
            <div class="icon-display-container" (click)="openIconPicker()">
              @if (selectedIcon) {
                <app-icon-display
                  [icon]="selectedIcon"
                  [size]="'16px'"
                  iconClass="selected-icon"
                  alt="Selected shelf icon">
                </app-icon-display>
                <span class="icon-label">Click to change</span>
              } @else {
                <div class="icon-placeholder">
                  <i class="pi pi-plus"></i>
                  <span>Select Icon</span>
                </div>
              }
            </div>
          </div>
        </div>
        @if (isAdmin) {
          <div class="public-checkbox-section">
            <div class="checkbox-wrapper">
              <p-checkbox formControlName="isPublic" [binary]="true" inputId="isPublic" (onChange)="onIsPublicChange($event)"></p-checkbox>
              <label for="isPublic">Public</label>
            </div>
          </div>
        }
      </div>

      <div class="rules-container">
        <ng-container *ngTemplateOutlet="groupTemplate; context: { group: form.get('group') }"></ng-container>
      </div>
    </fieldset>
  </div>

  <div class="dialog-footer">
    <div class="footer-actions">
      <p-button
        label="Cancel"
        severity="secondary"
        [outlined]="true"
        (onClick)="cancel()"
      />
      <p-button
        label="Save Filter"
        icon="pi pi-save"
        severity="success"
        (onClick)="submit()"
        [disabled]="form.invalid"
      />
    </div>
  </div>

  <ng-template #groupTemplate let-group="group">
    <div class="group-container" [formGroup]="group">
      <div class="group-header">
        <label>Condition:</label>
        <p-select [options]="conditionOptions" formControlName="join" class="condition-select" appendTo="body" [showClear]="false"/>
        <p-button icon="pi pi-plus" size="small" text (click)="addRule(group)" label="Add Rule" outlined></p-button>
        <p-button icon="pi pi-folder-open" size="small" text (click)="addGroup(group)" label="Add Group" outlined></p-button>
        @if (group.parent) {
          <p-button icon="pi pi-trash" text (click)="deleteGroup(group)" severity="danger"></p-button>
        }
      </div>

      <div formArrayName="rules">
        @for (ruleCtrl of group.get('rules')['controls']; let i = $index; track trackByFn(ruleCtrl, i)) {
          <div [formGroupName]="i" class="rule-item">
            @if (isGroup(ruleCtrl)) {
              <ng-container>
                <ng-container *ngTemplateOutlet="groupTemplate; context: { group: ruleCtrl }"></ng-container>
              </ng-container>
            } @else {
              <p-select [options]="fieldOptions" formControlName="field" (onChange)="onFieldChange(ruleCtrl)" placeholder="Field" appendTo="body" class="field-select"/>
              <p-select [options]="getOperatorOptionsForField(ruleCtrl.get('field')?.value)" appendTo="body" formControlName="operator" placeholder="Operator" class="operator-select" (onChange)="onOperatorChange(ruleCtrl)"/>

              @if (!['is_empty', 'is_not_empty'].includes(ruleCtrl.get('operator')?.value)) {
                @if (ruleCtrl.get('operator')?.value === 'in_between') {
                  @if (ruleCtrl.get('field')?.value === 'publishedDate') {
                    <p-datepicker [formControl]="ruleCtrl.get('valueStart')" dateFormat="dd-M-yy" placeholder="Start Year" appendTo="body" fluid class="value-input"></p-datepicker>
                    <p-datepicker [formControl]="ruleCtrl.get('valueEnd')" dateFormat="dd-M-yy" placeholder="End Year" appendTo="body" fluid class="value-input"></p-datepicker>
                  } @else if (ruleCtrl.get('field')?.value === 'dateFinished') {
                    <p-datepicker [formControl]="ruleCtrl.get('valueStart')" dateFormat="dd-M-yy" placeholder="Start Date" appendTo="body" fluid class="value-input"></p-datepicker>
                    <p-datepicker [formControl]="ruleCtrl.get('valueEnd')" dateFormat="dd-M-yy" placeholder="End Date" appendTo="body" fluid class="value-input"></p-datepicker>
                  } @else if (numericFieldConfigMap.get(ruleCtrl.get('field')?.value)?.type === 'number') {
                    <p-inputNumber [formControl]="ruleCtrl.get('valueStart')" [min]="0" class="value-input" placeholder="Start Value" [showButtons]="true"></p-inputNumber>
                    <p-inputNumber [formControl]="ruleCtrl.get('valueEnd')" [min]="0" class="value-input" placeholder="End Value" [showButtons]="true"></p-inputNumber>
                  } @else if (numericFieldConfigMap.get(ruleCtrl.get('field')?.value)?.type === 'decimal') {
                    <p-inputNumber [formControl]="ruleCtrl.get('valueStart')" mode="decimal" [minFractionDigits]="1" [maxFractionDigits]="1" [min]="0" [max]="numericFieldConfigMap.get(ruleCtrl.get('field')?.value)?.max || 10" class="value-input" placeholder="Start Value" [showButtons]="true"></p-inputNumber>
                    <p-inputNumber [formControl]="ruleCtrl.get('valueEnd')" mode="decimal" [minFractionDigits]="1" [maxFractionDigits]="1" [min]="0" [max]="numericFieldConfigMap.get(ruleCtrl.get('field')?.value)?.max || 10" class="value-input" placeholder="End Value" [showButtons]="true"></p-inputNumber>
                  } @else {
                    <input pInputText [formControl]="ruleCtrl.get('valueStart')" class="value-input" placeholder="Start Value"/>
                    <input pInputText [formControl]="ruleCtrl.get('valueEnd')" class="value-input" placeholder="End Value"/>
                  }
                } @else {
                  @if (ruleCtrl.get('field')?.value === 'publishedDate') {
                    <p-datepicker formControlName="value" dateFormat="dd-M-yy" appendTo="body" fluid class="value-input"></p-datepicker>
                  } @else if (ruleCtrl.get('field')?.value === 'dateFinished') {
                    <p-datepicker formControlName="value" dateFormat="dd-M-yy" appendTo="body" fluid class="value-input"></p-datepicker>
                  } @else if (numericFieldConfigMap.get(ruleCtrl.get('field')?.value)?.type === 'number') {
                    <p-inputNumber formControlName="value" class="value-input" mode="decimal" placeholder="Value" [showButtons]="true"></p-inputNumber>
                  } @else if (numericFieldConfigMap.get(ruleCtrl.get('field')?.value)?.type === 'decimal') {
                    <p-inputNumber formControlName="value" mode="decimal" [minFractionDigits]="1" [maxFractionDigits]="1" [min]="0" [max]="numericFieldConfigMap.get(ruleCtrl.get('field')?.value)?.max || 10" class="value-input" placeholder="Value" [showButtons]="true"></p-inputNumber>
                  } @else if (['includes_any', 'includes_all', 'excludes_all'].includes(ruleCtrl.get('operator')?.value)) {
                    @if (ruleCtrl.get('field')?.value === 'readStatus') {
                      <p-multiSelect [options]="readStatusOptions" formControlName="value" display="chip" class="value-input" appendTo="body" placeholder="Select Statuses"></p-multiSelect>
                    } @else if (ruleCtrl.get('field')?.value === 'fileType') {
                      <p-multiSelect [options]="fileType" formControlName="value" display="chip" class="value-input" appendTo="body" placeholder="Select File Types"></p-multiSelect>
                    } @else if (ruleCtrl.get('field')?.value === 'library') {
                      <p-multiSelect [options]="libraryOptions" formControlName="value" display="chip" class="value-input" appendTo="body" placeholder="Select Libraries"></p-multiSelect>
                    } @else {
                      <div class="autocomplete-wrapper">
                        <p-autoComplete [formControl]="ruleCtrl.get('value')" [multiple]="true" [typeahead]="false" [dropdown]="false" [forceSelection]="false" placeholder="Enter values (press Enter)" (onBlur)="onAutoCompleteBlur(ruleCtrl.get('value'), $event)"></p-autoComplete>
                      </div>
                    }
                  } @else if (ruleCtrl.get('field')?.value === 'readStatus') {
                    <p-select [options]="readStatusOptions" formControlName="value" placeholder="Select Status" appendTo="body" class="value-input"></p-select>
                  } @else if (ruleCtrl.get('field')?.value === 'fileType') {
                    <p-select [options]="fileType" formControlName="value" placeholder="Select File Type" appendTo="body" class="value-input"></p-select>
                  } @else if (ruleCtrl.get('field')?.value === 'library') {
                    <p-select [options]="libraryOptions" formControlName="value" placeholder="Select Library" appendTo="body" class="value-input"></p-select>
                  } @else {
                    <input pInputText formControlName="value" class="value-input" placeholder="Value"/>
                  }
                }
              }
              <p-button icon="pi pi-trash" text severity="danger" (click)="removeRule(group, i)"></p-button>
            }
          </div>
        }
      </div>
    </div>
  </ng-template>
</div>
