[Unit]
Description=BookLore Database Container Using MariaDB

[Container]
ContainerName=booklore-db
Image=lscr.io/linuxserver/mariadb:11.4.8
Pod=booklore.pod
Pull=always

Volume=booklore-db:/config

Environment=TZ=Etc/UTC
Environment=PUID=0
Environment=PGID=0
Environment=MYSQL_USER=booklore
Secret=booklore_db_pass,type=env,target=MYSQL_ROOT_PASSWORD
Secret=booklore_db_pass,type=env,target=MYSQL_PASSWORD
Environment=MYSQL_DATABASE=booklore

DropCapability=all
AddCapability=CAP_CHOWN CAP_SETUID CAP_SETGID CAP_FOWNER
