[Unit]
Description=booklore container
Requires=booklore-db.container
After=booklore-db.container

[Container]
ContainerName=booklore
Image=ghcr.io/booklore-app/booklore:latest
Pod=booklore.pod
AutoUpdate=registry
Pull=always

Volume=booklore-data:/app/data
# note the :z is important for selinux systems
# Volume=YOUR MOUNTS:/books:z
# Volume=YOUR MOUNTS:/bookdrop:z


Environment=TZ=Etc/UTC
Secret=booklore_db_pass,type=env,target=DATABASE_PASSWORD
Environment=DATABASE_URL=jdbc:mariadb://localhost:3306/booklore
Environment=DATABASE_USERNAME=booklore
Environment=BOOKLORE_PORT=6060
