:root[class~="p-dark"] {
  /* Primary */
  --primary-color: var(--p-primary-color);
  --primary-contrast-color: var(--p-primary-contrast-color);
  --primary-hover-color: var(--p-primary-hover-color);
  --primary-text-color: var(--p-primary-400);
  --primary-text-color-dark: var(--p-primary-900);

  /* Content & Text */
  --text-color: var(--p-surface-0);
  --text-color-secondary: var(--p-surface-300);
  --text-secondary-color: var(--p-surface-400);
  --high-contrast-text-color: var(--p-surface-0);
  --p-text-muted-color: var(--p-surface-400);
  --p-content-background: var(--p-surface-900);
  --p-content-border-color: var(--p-surface-700);

  /* Surfaces & Borders */
  --ground-background: var(--p-surface-950);
  --overlay-background: var(--p-surface-900);
  --card-background: var(--p-surface-900);
  --card-border: 1px solid transparent;
  --border-color: var(--p-surface-700);

  /* Code, Mark & Selection */
  --code-background: var(--p-surface-900);
}
