.thumbnail {
  width: 10rem;
  height: 14rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto 1rem;

  @media (max-width: 768px) {
    max-width: 50%;
  }
}
.metaeditor .thumbnail {
  width: 100%;
  height: auto;
}

.arrow-button {
  padding-left: 1rem;
  padding-right: 1rem;
}

.green-outlined-button {
  --p-button-outlined-primary-border-color: forestgreen;
  --p-button-outlined-primary-color: forestgreen;
}

.red-outlined-button {
  --p-button-outlined-primary-border-color: #E32636;
  --p-button-outlined-primary-color: #E32636;
}

input.outlined-input-green,
textarea.outlined-input-green,
::ng-deep p-autocomplete.outlined-input-green ul.p-autocomplete-input-multiple {
  border: 1px solid forestgreen !important;
}

::ng-deep .p-inputchips {
  width: 100% !important;
}

::ng-deep .p-autocomplete .p-chip .p-chip-label {
  font-size: 12px;
}

::ng-deep .p-autocomplete-input-chip {
  width: 2rem;
}

.metapicker, .metaeditor {
  box-sizing: border-box;
}

.metapicker label,
.metaeditor label {
  color: var(--text-color-secondary);
}

.metaheader {
  border-bottom: 1px solid var(--border-color);
  padding: 1rem;
  justify-content: space-between;
}

.metaheader .midbuttons {
  white-space: nowrap;
}

.metacontent {
  padding: 1rem;
}
.metaeditor .metacontent {
  padding: 0 0 0 1rem;

  @media (max-width: 768px) {
    padding: 0;
  }
}

.metadata-status {
  &.copied {
    color: rgb(34, 197, 94);
  }

  &.no-metadata {
    color: rgb(59, 130, 246);
  }

  &.not-applied {
    color: rgb(239, 68, 68);
  }
}

.meta-row {
  margin-bottom: 0.5em;
}

@media (max-width: 768px) {
  .meta-row {
    margin-bottom: 1em;
  }

  .metapicker .meta-row {
    flex-wrap: wrap;
    
    label {
      width: 100%;
    }
  }
  
  .metapicker .meta-fields {
    justify-content: center;

    .dest {
      width: 50%;
      order: 1;
      margin-right: 0.25rem;
    }

    p-button {
      padding: 0;
      order: 3;
    }

    ::ng-deep button {
      border-left-width: 0;
      border-radius: 0 6px 6px 0;
    }

    .src {
      width: 50%;
      order: 2;
      border-radius: 6px 0 0 6px;
      margin-left: 0.25rem;

      ::ng-deep ul {
        border-radius: 6px 0 0 6px;
      }
    }
  }

  .metapicker {
    .field-title,
    .field-subtitle,
    .field-publisher,
    .field-authors,
    .field-categories,
    .field-moods,
    .field-tags,
    .field-description,
    .field-seriesName {
      .meta-fields {
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
      }

      .dest {
        width: 100% !important;
        margin: 0 0 2px 0;
      }

      .src {
        flex: 1 !important;
        width: auto !important;
        margin: 0;
      }
    }

    .field-authors,
    .field-categories,
    .field-moods,
    .field-tags {
      ::ng-deep button {
        line-height: 2em;
      }
    }
  }
}