<div class="flex flex-col h-full">
  <div>
    <ul class="layout-menu">
      @if (homeMenu$ | async; as homeMenu) {
        @for (item of homeMenu; track item; let i = $index) {
          @if (!item.separator) {
            <li app-menuitem [item]="item" [index]="i" [root]="true" menuKey="home"></li>
          }
        }
      }
    </ul>

    <ul class="layout-menu">
      @if (libraryMenu$ | async; as libraryMenu) {
        @for (item of libraryMenu; track item; let i = $index) {
          @if (!item.separator) {
            <li app-menuitem [item]="item" [index]="i" [root]="true" menuKey="library"></li>
          }
        }
      }
    </ul>

    <ul class="layout-menu">
      @if (shelfMenu$ | async; as shelfMenu) {
        @for (item of shelfMenu; track item; let i = $index) {
          @if (!item.separator) {
            <li app-menuitem [item]="item" [index]="i" [root]="true" menuKey="shelf"></li>
          }
        }
      }
    </ul>

    <ul class="layout-menu">
      @if (magicShelfMenu$ | async; as shelfMenu) {
        @for (item of shelfMenu; track item; let i = $index) {
          @if (!item.separator) {
            <li app-menuitem [item]="item" [index]="i" [root]="true" menuKey="magicShelf"></li>
          }
        }
      }
    </ul>
  </div>

  @if (versionInfo) {
    <div style="margin-top: auto;" class="p-4 text-center w-full text-sm">
      <div class="text-gray-200">
        <a
          [href]="getVersionUrl(versionInfo.current)"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:underline hover:text-gray-100 text-sm"
          >
          {{ versionInfo.current }}
        </a>
      </div>
      @if (versionInfo.latest && versionInfo.latest !== versionInfo.current) {
        <div>
          <a
            (click)="openChangelogDialog()"
            class="cursor-pointer text-orange-400 hover:underline hover:text-orange-300 text-xs"
            >
            (Update)
          </a>
        </div>
      }
    </div>
  }
</div>
