::ng-deep .layout-main .tabpanels-responsive {
  height: calc(100dvh - 9.7rem);
}

@media (max-width: 768px) {
  ::ng-deep .layout-main .tabpanels-responsive {
    height: calc(100dvh - 8.5rem);
  }
}

::ng-deep .book-details-dialog .p-dialog-content,
::ng-deep .book-details-dialog app-book-metadata-center,
::ng-deep .book-details-dialog app-book-metadata-center > div,
::ng-deep .book-details-dialog app-book-metadata-center p-tabs {
  display: flex;
  width: 100%;
}

::ng-deep .book-details-dialog p-tablist {
  flex-shrink: 0;
}

::ng-deep .book-details-dialog .p-dialog-content {
  padding: 0;
}

::ng-deep .book-details-dialog app-book-metadata-center > div {
  border-radius: 0 0 0.75rem 0.75rem !important;
  border-width: 1px 0 0 !important;
}